/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Add your custom styles below */

#video-streams {
  height: 90vh;
  width: 1400px;
}

.video-container {
  height: 100%;
  border: 2px solid black;
}

.video-player {
  height: 100%;
  width: 100%;
}

#stream-controls {
  display: none;
}