/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background:#0F2027;
  background:-webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027) ;
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

/* Add your custom styles below */

#join-btn{
  position: fixed;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-100px;
  font-size:18px;
  padding:20px 40px;
}

#video-streams{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  height: 90vh;
  width: 1400px;
  margin:0 auto;
}

.video-container{
  max-height: 100%;
  border: 2px solid black;
  background-color: #203A49;
  position: relative;
}

.action-ui {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.user-id {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: .8em;
  font-weight: bold;
  border-radius: 4px;
}

.video-player{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

button {
  border: none;
  background-color: cadetblue;
  border-radius: 8px;
  cursor: pointer;
}

.action-ui > button {
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

#stream-controls{
  display: none;
  justify-content: center;
  margin-top:0.5em;
}

@media screen and (max-width:1400px){
  #video-streams{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      width: 95%;
  }
}